html{background-color: rebeccapurple}
.para{
    height:100px;
    width:100px;
    background-color: red;
 .box{
     width: 300px;
     Height:400px;
     background-color: blue;
     border: 2px solid red;
 .box{
     width:250px;
     height:600px;
     background-color: green;
     border-radius: 6px;

 }
     h1{ text-align: center;

     }
     h2{ text-align: right}

 }
}
